html.theme-1 {
  --primary-color: #ec1839;
}
html.theme-2 {
  --primary-color: #fa5b0f;
}
/* html.theme-3 {
  --primary-color: #37b182;
} */
html.theme-4 {
  --primary-color: #1854b4;
}
/* html.theme-5 {
  --primary-color: #f021b2;
} */